<div class="welcome-text">
    <h1>Bem-vindo ao MAP - Metodologia Ágil Personalizada!</h1>
    <p>As metodologias ágeis surgiram como uma resposta às metodologias tradicionais mais pesadas e ao modelo em cascata, buscando oferecer abordagens mais flexíveis e adaptáveis ao desenvolvimento de software. Uma característica fundamental das metodologias ágeis é sua abordagem adaptativa em vez de preditiva. Essas metodologias reconhecem a dificuldade e o alto custo de tentar prever e planejar todos os aspectos do desenvolvimento de um projeto de software.</p>

    <p>Estudos destacam sua utilização na indústria e observam uma mudança significativa de interesse, com o termo "gestão de carteiras ágeis" ultrapassando o termo "desenvolvimento ágil de software" no Google Trends. Isso evidencia a crescente relevância dos métodos ágeis em outras áreas, demonstrando sua adaptabilidade e valor além do contexto do software.</p>
    <a routerLink="/metodologias" class="btn-metodologias"><b>Veja um pouco mais sobre as Metodologias</b></a>
</div>
  