<header class="header">
    <div class="right-section">
      <a routerLink="/">MAP</a>
    </div>
    <div class="left-section">
      <a routerLink="/metodologias">Metodologias</a>
      <ng-container *ngIf="isLoggedIn; else loginLinks">
        <a routerLink="/map-inicial">Tela Inicial</a>
        <a routerLink="/criacao-map">Criar MAP</a>
        <a routerLink="/" (click)="logout()">Sair</a>
        <!-- Add more links as needed -->
      </ng-container>
      <ng-template #loginLinks>
        <a routerLink="/cadastro">Cadastro</a>
        <a routerLink="/login">Login</a>
      </ng-template>
    </div>
  </header>
